@import '../../common.scss';
.hua_table{
  position: relative;
  min-height: 100px;
  .table_tr{
    color: $default-black;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
  }
  .table_th{
    background:#fafafa;
    padding: 16px;
    color: $default-black;
  }
  .table_th_solid{
    @extend .table_th;
    border: 1px solid #ebedf0;
  }
  .table_td{
    color: $default-black;
    background: rgba(0,0,0,.01);
    padding: 16px;
  }
  .table_td_solid{
    color: $default-black;
    padding: 16px;
    background: rgba(0,0,0,.01);
    border: 1px solid #ebedf0;
  }
  .loading{
    width: 100%;
    height: 100px;
    background: #8a8a8a93;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 107, 107);
  }
}
// .sorted_button{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
// }
.filters{
  position: relative;
  .filters_item{
    width: 100px;
    position: absolute;
    display: flex;
    color: $default-black;
    flex-direction: column;
  }
}