.input_block{
 margin: 6px 0;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 .input{
  box-sizing: border-box;
  margin: 0;
  
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
 }
 :global{
   .ant-input{
     width: 200px !important;
   }
 }
 .required{
   color: red;
   font-size: 18px;
   margin-right: 5px;

 }
 .label_group{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .label{
   color: rgb(90, 90, 90);
   margin-right: 10px;
   font-size: 16px;
   width: 70px;
 }
}