.hua_select{
  position: relative;
  min-height: 32px;
  .content_group_multiple{
    height: auto;
    border-radius: 4px;
    background: #fff;
    border: solid 1px #d9d9d9;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .multiple_item{
      padding: 0 20px 0 10px;
      margin-right: 4px;
      border-radius: 2px;
     
      background: #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  }




  .content_group{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 4px;
    background: #ffffff;
    display: flex;
    border: 1px solid #d9d9d9;
    justify-content: space-between;
    align-items: center;
    &:hover{
      border: 1px solid rgb(6, 160, 221);
    }
  }
  
  .options{
    position: absolute;
    width: 100%;
    background: #fff;
    li{
      list-style: none;
      &:hover{
        background: rgb(218, 235, 243)
      }
    }
  }
}