@import '../../common.scss';
.tabs_item{
  width: 500px;
  height: 200px;
  background: #fff;

  float: left;
}
.tabs{
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
  .tabs_group{
    width: 1500px;
    position: absolute;
    // display: flex;
    // flex-direction: row;
    transition: 0.5s left;
  }
}
.tabs_header{
  width: 500px;
  display: flex;
  color: $default-balck;
  justify-content: space-between;
  border-bottom: 1px solid $default-balck;
  margin-bottom: 10px;
  .tabs_header_block{
   
    width: 100px;
    height: 40px;
  
    text-align: center;
    line-height: 40px;
  }
  .tabs_header_block_active{
    @extend .tabs_header_block;
    border-bottom: solid 2px $blue;

  }
}