.container{
    background: black;
    overflow: hidden;
    height: 150px;
    position: relative;
    .carousel{
        display: flex;
        flex-direction: row;
        height: 150px;
        background: red;
        position: absolute;
        transition-property: left;
    }
    .cicleGroup{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        .cicle{
            width: 10px;
            height: 10px;
            margin: 0 3px;
            background: #fff;
            border-radius: 50%;
            
        }
        .cicleActive{
            @extend .cicle;
            background: rgba(0, 128, 160, 0.747);
        }
    }
    .arrow{
        width: 50px;
        height: 50px;
        font-size: 36px;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .leftArrow{
        @extend .arrow;
        left: 0;
    }
    .rightArrow{
        @extend .arrow;
        right: 0;
    }
}